.landing {
  --shape-offset: 10%;

  position: relative;
  z-index: 1;

  min-height: min(600px, 125vw);
}

.landing > .landing-background {
  position: absolute;
  top: 0;

  width: 100%;
  height: calc(101% + var(--shape-offset));

  overflow: hidden;
  -webkit-clip-path: polygon(
    0 0,
    0 calc(100% - var(--shape-offset)),
    50% 100%,
    100% calc(100% - var(--shape-offset)),
    100% 0
  );
  clip-path: polygon(
    0 0,
    0 calc(100% - var(--shape-offset)),
    50% 100%,
    100% calc(100% - var(--shape-offset)),
    100% 0
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-background > .compass {
  position: absolute;
  top: 55%;
  right: 2.5%;

  width: 475px;

  transform: translate(50%, -50%);
}

.landing > .text {
  position: relative;
  z-index: 1;

  width: 600px;
  margin-left: auto;
  padding: var(--space-lg);

  text-align: center;
  box-sizing: content-box;
}

.landing h1 {
  font-size: min(4rem, 12vw);
  letter-spacing: -0.1rem;
  color: var(--color-brand);

  margin-top: var(--space-xxl);
  margin-bottom: var(--space-md);
}

.landing h2 {
  font-size: min(1.5rem, 5.5vw);
  line-height: 1.35;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);

}

@media screen and (max-width: 850px) {
  .landing > .text {
    margin: 0 auto;
    box-sizing: border-box;
  }
}
