.team {
  position: relative;

  width: 100%;
  padding: var(--space-xl) 0;
  background-color: var(--color-dark);

  color: var(--color-on-dark);
  text-align: center;
}

.team > h3{
  margin-top: var(--space-sm);
}


.member-list {
  --member-width: 235px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--member-width), 1fr));

  width: 100%;
  margin: var(--space-md) 0;

  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .member-list {
    --member-width: 1fr;
  }
}

.member-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-lg);
  row-gap:var(--space-sm);

  margin-top: var(--space-xl);
  padding: 0 var(--space-md);

  font-weight: bold;
}

.member-filter > * {
  position: relative;

  opacity: 0.5;
  cursor: pointer;

  transition: opacity 100ms ease;
}

.member-filter > *:hover {
  opacity: 1;
}

.member-filter > .selected {
  opacity: 1;
}

.member-filter > ::after {
  content: '';

  position: absolute;
  top:100%;
  left:50%;

  width: 0;
  height: 2px;
  background-color: var(--color-on-dark);
  
  transition: width .3s ease;
  transform: translateX(-50%);
}

.member-filter > .selected::after {
  width: 100%;
}
