.team {
  position: relative;

  width: 100%;
  padding: var(--space-xl) 0;
  background-color: var(--color-dark);

  color: var(--color-on-dark);
  text-align: center;
}

.member-list {
  --member-width: 235px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--member-width), 1fr));

  width: 100%;
  margin: var(--space-md) 0;

  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .member-list {
    --member-width: 1fr;
  }
}

.member-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-lg);

  margin-top: var(--space-xl);

  font-weight: bold;
}

.member-filter > * {
  opacity: 0.5;
  cursor: pointer;

  transition: opacity 100ms ease;
}

.member-filter > *:hover {
  opacity: 1;
}

.member-filter > .selected {
  opacity: 1;
  border-bottom: 1px solid;
}
