@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-brand: #c4132f;
  --color-background: #e5eaee;
  --color-surface: white;
  --color-dark: black;

  --color-on-background: black;
  --color-on-dark: white;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;
}

@media screen and (max-width:450px) {
  :root{
    --space-xl: 2.75rem;
    --space-xxl: 4rem;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 1400px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  color: var(--color-on-background);
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  width: 12px;       
}

::-webkit-scrollbar-track {
  background:transparent;  
}

::-webkit-scrollbar-thumb {
  background-color:rgb(212, 212, 212);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2,h3{
  line-height: 1.1;
}

.display-1 {
  font-size: min(3.25rem, 10vw);
  font-weight: 700;
}

h2,
.display-2 {
  font-size: min(1.3rem, 7.5vw);
  font-weight: 700;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

h3,
.display-3 {
  font-size: min(1.4rem, 5vw);
  line-height: 1.25;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

hr {
  width: 350px;
  margin: var(--space-md) auto;
}

button {
  margin-top: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  border: 2px solid;
  background: transparent;

  font-weight: bold;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}


.hidden {
  display: none;
}

.overflow-hidden{
  overflow: hidden;
}
